.img-container {
  height: 200px !important; /* Set a fixed height for the image container */
  overflow: hidden; /* Ensure any overflow is hidden */
}

.card-img {
  width: 100%; /* Ensure the image takes up the full width of the container */
  height: 100%; /* Ensure the image takes up the full height of the container */
  object-fit: cover; /* Cover the container while maintaining aspect ratio */
}
