.imgContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.imgContainer img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}
.medalContainer img {
  max-width: 100%;
  height: auto;
}
