.iphone-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
  width: 100vw; /* Full viewport width */
  overflow: auto; /* Allows scrolling if content overflows */
}

.iphone {
  border: 1px solid black;

  height: 100%; /* Full height to ensure all content is visible */
  width: 100%;
  max-width: 576px; /* Maximum width for iPhone layout */
  overflow: auto; /* Allows scrolling if content overflows */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: add a subtle shadow */
  display: flex;
  flex-direction: column;
}
